USE [master]
GO
/****** Object:  Database [LaundryDB]    Script Date: 2012-12-17 19:30:41 ******/
CREATE DATABASE [LaundryDB] ON  PRIMARY 
( NAME = N'LaundryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LaundryDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LaundryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LaundryDB_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaundryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaundryDB]
GO
/****** Object:  User [hibernateUser]    Script Date: 2012-12-17 19:30:41 ******/
CREATE USER [hibernateUser] FOR LOGIN [hibernateUser] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'hibernateUser'
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] NOT NULL,
	[Money] [float] NULL,
	[Number] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdminUser]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUser](
	[ID] [int] NOT NULL,
	[LUserID] [int] NOT NULL,
 CONSTRAINT [PK_AdminUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blocked]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blocked](
	[LUserID] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Blocked] PRIMARY KEY CLUSTERED 
(
	[LUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Day]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Day](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[IsLocked] [bit] NULL,
	[FloorID] [int] NULL,
 CONSTRAINT [PK_Day] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Floor]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floor](
	[ID] [int] NOT NULL,
	[FloorNo] [int] NULL,
 CONSTRAINT [PK_Floor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUser]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUser](
	[ID] [int] NOT NULL,
	[Password] [nchar](100) NULL,
	[FirstName] [nchar](100) NULL,
	[LastName] [nchar](100) NULL,
	[Login] [nchar](100) NULL,
	[RoomID] [int] NULL,
	[AccountID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[ID] [int] NOT NULL,
	[Number] [int] NULL,
	[FloorID] [int] NULL,
	[WindowsCount] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supervisor]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisor](
	[ID] [int] NOT NULL,
	[LUserID] [int] NOT NULL,
 CONSTRAINT [PK_Supervisor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Window]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Window](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LUserID] [int] NULL,
	[DayID] [int] NOT NULL,
	[WindowNumber] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK_Window] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([ID], [Money], [Number]) VALUES (1, 45.75, 5)
INSERT [dbo].[Account] ([ID], [Money], [Number]) VALUES (2, 45.75, 5)
INSERT [dbo].[Account] ([ID], [Money], [Number]) VALUES (3, 45.75, 5)
INSERT [dbo].[AdminUser] ([ID], [LUserID]) VALUES (1, 14)
INSERT [dbo].[Blocked] ([LUserID], [Date]) VALUES (17, CAST(0x7A360B00 AS Date))
SET IDENTITY_INSERT [dbo].[Day] ON 

INSERT [dbo].[Day] ([ID], [Date], [IsLocked], [FloorID]) VALUES (4167, CAST(0xB3360B00 AS Date), 0, 1)
INSERT [dbo].[Day] ([ID], [Date], [IsLocked], [FloorID]) VALUES (4168, CAST(0xB4360B00 AS Date), 0, 1)
INSERT [dbo].[Day] ([ID], [Date], [IsLocked], [FloorID]) VALUES (4169, CAST(0xB5360B00 AS Date), 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Day] OFF
INSERT [dbo].[Floor] ([ID], [FloorNo]) VALUES (1, 1)
INSERT [dbo].[Floor] ([ID], [FloorNo]) VALUES (2, 2)
INSERT [dbo].[Floor] ([ID], [FloorNo]) VALUES (3, 3)
INSERT [dbo].[LUser] ([ID], [Password], [FirstName], [LastName], [Login], [RoomID], [AccountID]) VALUES (1, N'P@ssw0rd                                                                                            ', N'Jan                                                                                                 ', N'Kowalski 1                                                                                          ', N'jkowalski1                                                                                          ', 1, 1)
INSERT [dbo].[LUser] ([ID], [Password], [FirstName], [LastName], [Login], [RoomID], [AccountID]) VALUES (2, N'P@ssw0rd                                                                                            ', N'Andrzej                                                                                             ', N'Siekiera 1                                                                                          ', N'asiekiera1                                                                                          ', 1, 2)
INSERT [dbo].[LUser] ([ID], [Password], [FirstName], [LastName], [Login], [RoomID], [AccountID]) VALUES (3, N'P@ssw0rd                                                                                            ', N'Jan                                                                                                 ', N'Kowalski 2                                                                                          ', N'jkowalski2                                                                                          ', 2, 3)
INSERT [dbo].[Room] ([ID], [Number], [FloorID], [WindowsCount]) VALUES (1, 100, 1, 4)
INSERT [dbo].[Room] ([ID], [Number], [FloorID], [WindowsCount]) VALUES (2, 101, 1, 4)
INSERT [dbo].[Room] ([ID], [Number], [FloorID], [WindowsCount]) VALUES (3, 102, 1, 4)
INSERT [dbo].[Supervisor] ([ID], [LUserID]) VALUES (0, 3)
SET IDENTITY_INSERT [dbo].[Window] ON 

INSERT [dbo].[Window] ([ID], [LUserID], [DayID], [WindowNumber], [IsLocked]) VALUES (14636, NULL, 4167, 0, 0)
INSERT [dbo].[Window] ([ID], [LUserID], [DayID], [WindowNumber], [IsLocked]) VALUES (14637, NULL, 4167, 1, 0)
INSERT [dbo].[Window] ([ID], [LUserID], [DayID], [WindowNumber], [IsLocked]) VALUES (14638, NULL, 4167, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[Window] OFF
/****** Object:  Index [IX_AdminUser]    Script Date: 2012-12-17 19:30:41 ******/
ALTER TABLE [dbo].[AdminUser] ADD  CONSTRAINT [IX_AdminUser] UNIQUE NONCLUSTERED 
(
	[LUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Blocked]    Script Date: 2012-12-17 19:30:41 ******/
ALTER TABLE [dbo].[Blocked] ADD  CONSTRAINT [IX_Blocked] UNIQUE NONCLUSTERED 
(
	[LUserID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [2_User]    Script Date: 2012-12-17 19:30:41 ******/
ALTER TABLE [dbo].[LUser] ADD  CONSTRAINT [2_User] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supervisor]    Script Date: 2012-12-17 19:30:41 ******/
ALTER TABLE [dbo].[Supervisor] ADD  CONSTRAINT [IX_Supervisor] UNIQUE NONCLUSTERED 
(
	[LUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminUser]  WITH CHECK ADD  CONSTRAINT [FK_AdminUser_LUser] FOREIGN KEY([LUserID])
REFERENCES [dbo].[LUser] ([ID])
GO
ALTER TABLE [dbo].[AdminUser] CHECK CONSTRAINT [FK_AdminUser_LUser]
GO
ALTER TABLE [dbo].[Blocked]  WITH CHECK ADD  CONSTRAINT [FK_Blocked_User] FOREIGN KEY([LUserID])
REFERENCES [dbo].[LUser] ([ID])
GO
ALTER TABLE [dbo].[Blocked] CHECK CONSTRAINT [FK_Blocked_User]
GO
ALTER TABLE [dbo].[Day]  WITH CHECK ADD  CONSTRAINT [FK_Day_Floor] FOREIGN KEY([FloorID])
REFERENCES [dbo].[Floor] ([ID])
GO
ALTER TABLE [dbo].[Day] CHECK CONSTRAINT [FK_Day_Floor]
GO
ALTER TABLE [dbo].[LUser]  WITH CHECK ADD  CONSTRAINT [FK_LUser_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([ID])
GO
ALTER TABLE [dbo].[LUser] CHECK CONSTRAINT [FK_LUser_Room]
GO
ALTER TABLE [dbo].[LUser]  WITH CHECK ADD  CONSTRAINT [FK_User_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[LUser] CHECK CONSTRAINT [FK_User_Account]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Floor] FOREIGN KEY([FloorID])
REFERENCES [dbo].[Floor] ([ID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Floor]
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD  CONSTRAINT [FK_Supervisor_User] FOREIGN KEY([LUserID])
REFERENCES [dbo].[LUser] ([ID])
GO
ALTER TABLE [dbo].[Supervisor] CHECK CONSTRAINT [FK_Supervisor_User]
GO
ALTER TABLE [dbo].[Window]  WITH CHECK ADD  CONSTRAINT [FK_Window_Day] FOREIGN KEY([DayID])
REFERENCES [dbo].[Day] ([ID])
GO
ALTER TABLE [dbo].[Window] CHECK CONSTRAINT [FK_Window_Day]
GO
ALTER TABLE [dbo].[Window]  WITH CHECK ADD  CONSTRAINT [FK_Window_User] FOREIGN KEY([LUserID])
REFERENCES [dbo].[LUser] ([ID])
GO
ALTER TABLE [dbo].[Window] CHECK CONSTRAINT [FK_Window_User]
GO
/****** Object:  Trigger [dbo].[WindowNotBooked_BeforeInsert_Trigger]    Script Date: 2012-12-17 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kfornal
-- =============================================
CREATE TRIGGER [dbo].[WindowNotBooked_BeforeInsert_Trigger]
   ON  [dbo].[Window]
   INSTEAD OF INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	DECLARE @UserID int
	DECLARE @DayID int
	DECLARE @weekBeginning datetime
	DECLARE @dateToInsert datetime
	DECLARE @LimitPerWeek int
	DECLARE @RoomID int
	DECLARE @UsersAndRooms table
	(
		UserID int
	)
	DECLARE @WindowsInRoom table
	(
		ID int,
		LUserID int,
		DayID int,
		WindowNumber int,
		IsLocked bit,
		UserID int
	)

	SET @LimitPerWeek = 3;

	SELECT @UserID = ins.LUserID FROM inserted ins
	SELECT @RoomID = u.RoomID  FROM [dbo].[LUser] u where u.ID = @UserID
	SELECT @DayID = ins.DayID FROM inserted ins
	SELECT @dateToInsert = d.[Date] FROM [dbo].[Day] d WHERE d.ID = @DayID
	SELECT @weekBeginning =  DATEADD(ww, DATEDIFF(ww, 0, @dateToInsert), 0)

	INSERT INTO @UsersAndRooms SELECT u.ID FROM [dbo].[LUser] u WHERE u.RoomID = @RoomID
	INSERT INTO @WindowsInRoom  SELECT  * FROM [dbo].[Window] w, @UsersAndRooms ur WHERE w.LUserID = ur.UserID

	IF (SELECT COUNT(win.ID) FROM @WindowsInRoom win LEFT JOIN [dbo].[Day] d ON win.DayID = d.ID 
		WHERE d.[Date] >= @dateToInsert AND d.[Date] <= DATEADD(dd, 7, @dateToInsert)) >= @LimitPerWeek
	BEGIN
		RAISERROR('Room has reached the limit of the slots', 16, 1);
	END
	ELSE
	BEGIN
		INSERT INTO [dbo].[Window] (DayID, IsLocked, LUserID, WindowNumber) 
			SELECT ins.DayID, ins.IsLocked, ins.LUserID, ins.WindowNumber FROM inserted ins
	END
END


GO
USE [master]
GO
